.dialogs {
  width: 320px;
  height: 100%;
  // padding:10px;
  overflow: auto;
  &__item {
    &:hover {
     background:rgba(63, 61, 61, 0.055);
      cursor: pointer;
    }
    display: flex;
    $item: &;
    padding: 10px;

    &-avatar {
      position: relative;
      flex: 0 0 50px;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    &--online {
      #{$item}-avatar {
        &::before {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          content: "";
          background-color: green;
          border-radius: 30px;
          width: 15px;
          height: 15px;
          border: 3px solid #ffff;
          -webkit-animation: blink-2 1.5s infinite both;
          animation: blink-2 1.5s infinite both;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &-top {
        display: flex;
        b {
          font-weight: 500;
          font-size: 14px;
          flex: 1;
          margin-bottom: 6px;
        }
        span {
          opacity: 0.5;
        }
      }
      &-bottom {
        position: relative;
        p {
          opacity: 0.5;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 215px;
          white-space: nowrap;
        }
        &-unreadCount {
          position: absolute;
          right: 0;
          top: 0;
          color: #ffff;
          background: rgb(231, 110, 110);
          font-weight: bold;
          width: 18px;
          height: 18px;
          border-radius: 30px;
          font-size: 10px;
          text-align: center;
          line-height: 17px;
          box-shadow: 0 0 3px #ffff;
        }
      }
    }
  }
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
