
.Message-Input {
  padding: 15px;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__prefix{
    font-size: 22px;
    cursor: pointer;
    &:hover {
      color: lightblue;
    }
  }

  &__actions {
    display: flex;
    span {
        margin-left:5px;
      font-size: 22px;
      cursor: pointer;
      &:hover {
        color: lightblue;
      }
    }
  }
}
